*{
    padding: 0;
    margin: 0;
}

/* body{
    margin: 0;
} */
.header{
    width:100%;
    height:70px;
    /* background-color: #2b2727b7; */

}

ul li{
    list-style-type: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

ul li a{
    color: white;
    font-size: 17px;
    text-decoration: none;
}

ul{
    float: right;
    margin-right: 70px;
}


label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header ul li a:hover{
    background-color: rgb(161, 156, 156);
    transition: .5s;
}

.box{
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: rgb(126, 118, 118);
    border-style: solid;
}

#outer-about{
    background-color: rgba(245, 222, 222, 0.671);
    width: 100%;
    height: 700px;
}

#akademik{
    background-color: rgb(184, 175, 175);
    width: 100%;
    height: 500px;
    position: relative;
}

    #experience-box{
    background-color: #a194a3;
    width: 400px;
    height: 110px;
    border-radius: 60px;
    position: absolute;
    left: 350px;
    top: 50px;
    padding-left: 40px ;
    padding-top: 10px;
    border: 2px solid rgb(165, 61, 151);
}

    #experience-box p #span-1{
        font-size: 14px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:#3b2f2f;

}

    #experience-box p #span-2{
        font-size: 14px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #524242;
}

    #experience-box h3{
        color:rgb(72, 101, 161);
    }

    #education-box{
        background-color: rgb(149, 159, 187);
        width: 550px;
        height: 160px;
        border-radius: 100px;
        position: absolute;
        left: 500px;
        top: 200px;
        border:2px solid rgb(79, 95, 138);
        padding-left: 60px;
        padding-top: 15px;
    }

    #education-box span{
        color: #524242;
        font-size: 14px;
    }

    #skill-box{
        background-color: #c5b6b6;
        width: 400px;
        height: 150px;
        position: absolute;
        right: 260px;
        top: 130px;
        padding-left: 20px;
        padding-top: 15px;

    }

    #skill-box p{
        margin-bottom: 10px;
    }

    #cubuk{
        background-color: #5c4f4f;
        width: 2px;
        height: 400px;
        position: absolute;
        left: 1160px;
        top: 50px;
    }

    i{
        font-size: 30px;
        margin-right: 110px;
        margin-top: 30px;
    }

    }
    #icons{
        position: absolute;
        left: 900px;
    }

#contact{
    background-color: gainsboro;
    width: 100%;
    height: 500px;
    padding: 80px 0px;
    text-align: center;
}

#container {
    max-width: 500px; 
    margin: 0 auto;
    padding: 40px;
    border: 1px solid rgb(189, 183, 183);
    border-radius: 15px;
    background-color: rgb(211, 211, 204);
}

form {
    display: flex;
    flex-direction: column;
}

form input{
    height: 30px;
}

form label, form input, form textarea, form button {
    margin-bottom: 10px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    /* cursor: pointer; */
}

form button:hover {
    background-color: #0056b3;
}


#img-fotom{
    width: 180px;
    height: 180px;
    border-radius: 180px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
    border: 3px solid rgb(92, 68, 68);
}

#inner-about{
    display: inline-block;
    border: 3px solid rgb(156, 113, 130);
    border-radius: 15px;
    background-color: #cabfbf;
    width: 660px;
    height: 10
    40px;
    padding: 20px;
    position: absolute;
    top: 100px;
    left: 350px;
    
}

#inner-about h4{
    font-family:'Times New Roman', Times, serif;
    color: #292bb9f3;
}

#inner-hobby{
    /* display: inline-block; */
    background-color: #cabfbf;
    width: 700px;
    height: 390px;
    border: 3px solid rgb(156, 113, 130);
    border-radius: 15px;
    margin-left: 350px;
    position: relative;
    margin-top: 30px;
}

#inner-hobby #img-cinema{
    width: 50px;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 8px;
}

#inner-hobby #img-book{
    width: 45px;
    display: inline-block;
    position: absolute;
    left: 13px;
    top: 180px;
    opacity: 0.78;
}

#inner-hobby #img-travel{
    width: 47px;
    display: inline-block;
    position: absolute;
    left: 13px;
    top: 295px;
}

#inner-hobby #cinema-box{
    position: absolute;
    left: 67px;
    top: 45px;
}


#inner-hobby #book-box{
    position: absolute;
    left: 67px;
    top: 170px;

}

#inner-hobby #travel-box{
    position: absolute;
    left: 67px;
    top: 280px;
}

#inner-hobby .title{
    color: rgb(110, 12, 110);
    font-size: 15px;
    margin-bottom: 9px;
}

#baslık{
    background-color:rgb(137, 131, 151);
    width: 85px;
    position: relative;
    left: 390px;
    top: 45px;
    border: 2.5px solid rgb(48, 109, 133);
    border-radius: 7px;
    padding: 2px;
    z-index: 1;
}

